@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500');

@import "am_colours";

@font-face {
  font-family: 'glyphicons';
  src: url('/font/glyphicons.woff2') format('woff2');
}

@import "asteroids";
@import "pong";

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body{
  overflow: hidden;
}

.grid-container {

  z-index: 0;

  position: absolute;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto;

  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

.control {

  color: $col_light;
  // font-size: 5em;
  text-align: center;

  &.left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: $col_grass;
  }

  &.right {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: $col_marin;
  }

  &.thrust {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: $col_blood;
  }

  &.fire {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: $col_pink;
  }
}

.button {
  border: none;
  color: $col_light;
  padding: 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  &.fire {
    background-color: $col_pink;
    position: absolute;
    left: 25%;
    top: 50%;
    width: 50vw;
    height: 50vh;

    &:hover {
      background-color: $col_medium;
    }
  }
}

// room key input stuff

.key-input-overlay {

  position: absolute;

  z-index: 100;

  width: 100%;
  height: 100%;

  margin: 0;

  background-color: rgba(255, 255, 255, 0.5);

}

.key-input-container {

  position:absolute;

  width: 500px;
  height: auto;

  left:50%;
  top:20%;

  margin-left: -250px;
  margin-top: 10px;
  padding:25px;

  background-color:  rgba(255, 255, 255, 0.5);
  border-radius: 50px;

}

.key-label {

  text-align: center;

  width: 100%;
  height: 33%;

  margin-top:25px;

  font-size: 2em;
  overflow: hidden;

  color: $col_medium;

}

.key-text{


  margin: 5%;
  margin-top:50px;
  padding: 20px;

  width: 90%;
  height: 60px;

  text-decoration: none;
  font-size: 1.5em;

  color: black;

  border:none;

  text-align: center;

  border-bottom: 2px solid $col_solid;

  outline: none;

  &:hover {
    border-bottom: 2px solid $col_lilac;
  }

  &:focus {
    border-bottom: 2px solid $col_lilac;
  }

  &:visited {
    border-bottom: 2px solid $col_lilac;
  }

  // text-transform: uppercase;
}

.key-input {

  transition: background-color 2s;

  margin: 5%;
  padding: 15px;

  width: 90%;
  height: 60px;

  background-color: $col_lilac;
  color: white;

  border-radius: 10px;
  text-align: center;

  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;


  &:hover {

    transition: background-color 2s;

    background-color: $col_mustard;
    cursor:pointer;
  }

}

// warning banner

.warning-banner {

  z-index: 200;
  position: absolute;

  top:0;

  width: 100%;
  height: 20%;

  margin-top:50px;

  text-align: center;
}

.warning-banner-text {

  transition: display 3s;

  display: none;

  padding:20px;

  border-radius: 10px;

  text-align: center;

  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;

  color:$col_blood;
  background-color:white;


}

//
.player-controls-container {

  position: absolute;

  z-index: 50;

  width: 100%;
  height: 100%;

  overflow: hidden;

}
