{{> header }}


<style>
body {
    background-color: #d63031;
}
h1{
  color:#eee;
  text-align: center;
  font-size: 10em;
}
</style>
<h1>
    ITS TOTALLY FUCKED MATE,<br>
    <strong>BIG TIME</strong>
</h1>

{{> footer }}
