{{> header }}

<h1>Welcome to the Future, Bitches</h1>

<div class="center">
    <a class="button" href="player">Player</a>
    <a class="button" href="asteroids">Asteroids</a>
</div>

<div class="playerbutton"></div>

<!-- Bundle for homepage  -->
<script src="/js/home.bundle.js"></script>

{{> footer }}
