{{> header }}

<!-- <h1>SCREEN PAGE</h1>

<div class="center">
    <a class="button" href="home">Home</a>
</div> -->

<div class="grageo-container"></div>

<!-- Bundle for screen  -->
<!-- <script src="/js/grageo.min.js"></script> -->
<script src="/js/screen.bundle.js"></script>

{{> footer }}
