
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500');

@import "am_colours";

@font-face {
  font-family: 'glyphicons';
  src: url('/font/glyphicons.woff2') format('woff2');
}

* {

	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}

body {

	margin: 0;
	padding: 0;

	background-color: $col_dark;

}

h1 {
  color: $col_light;
  text-align: center;
  font-size: 5em;
}

.button {
    background-color: $col_grass;
    border: none;
    color: $col_light;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3em;

    width: 100%;
    margin: 10px;

    &:hover {
        background-color: $col_teal;
    }
}

.center {
    display: block;
    margin: auto;
    // width: 0%;
    width: 60%;
}

.playerbutton {}
